*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-white: #ffffff;

  --font-family: 'Outfit', system-ui, sans-serif;

  --font-size-large: 1.375rem;
  --font-size-base: 0.9375rem;

  --space-large: 2.5rem;
  --space-medium: 1.5rem;
  --space-small: 1rem;
}

body {
  align-content: center;
  min-block-size: 100vh;
  background-color: var(--color-slate-300);
  font-family: var(--font-family);
}

img {
  display: block;
  max-width: 100%;
}

/* MARK: qr-code-card */
.qr-code-card {
  background-color: var(--color-white);
  border-radius: 1.25rem;
  padding: var(--space-small) var(--space-small) var(--space-large)
    var(--space-small);
  width: min(100% - 1.7188rem, 20rem);
  margin-inline: auto;
}
